<%= form_with(model: @undangan, local: true) do |form| %>
  <% if @undangan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@undangan.errors.count, "error") %> prohibited this undangan from being saved:</h2>

      <ul>
        <% @undangan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<section class="section-4">
  <div class="container pl-0 pr-0">
    <div class="row">
      <div class="col-2 pr-0 pl-0">
      <img data-aos="fade-down-right" data-aos-duration="1500" src="https://drive.google.com/uc?id=1RAeEc3fZr_CdRno84IgAKJz65SWGttKA" class="img-fluid daun3" alt="Daun kiri">
      </div>
      <div class="col-8 text-center py-5">
        <h2 data-aos="fade-down" data-aos-duration="1500" class="font-weight-light header-sec-4">Will You Attend?</h2>
        <div class="custom-form-check justify-content-center">
          <div data-aos="fade-right" data-aos-duration="1500" class="form-check form-check-inline">
            <%= form.radio_button :kehadiran, true, class: "form-check-input ck" %>
            <%= form.label :kehadiran, "Accept with pleasure", :value => "true", class: "form-check-label cktext" %>
          </div>
          <div data-aos="fade-left" data-aos-duration="1500" class="form-check form-check-inline">
            <%= form.radio_button :kehadiran, false, class: "form-check-input ck" %>
            <%= form.label :kehadiran, "Decline with regrets", :value => "false", class: "form-check-label cktext" %>
          </div>
        </div>
        <h2 data-aos="fade-up" data-aos-duration="1500" class="font-weight-light header-sec-4">How many person?</h2>
        <div data-aos="fade-up" data-aos-duration="1500" class='persons mb-5'>
          <span><button name="button" type="button" class="sub btn btn-info">-</button></span>
          <span><%= form.text_field :jumlah_tamu, id: "1", class: "field counter", placeholder: "0" %></span>
          <span><button name="button" type="button" class="add btn btn-info">+</button></span>
        </div>
        <div class="actions">
          <%= form.submit "Submit", class: "btn btn-outline-light" %>
        </div>
      </div>
      <div class="col-2 pr-0 pl-0 text-right">
        <img data-aos="fade-down-left" data-aos-duration="1500" src="https://drive.google.com/uc?id=1rN2DGJhFELVFPaaCojPtpWWeQPBVkLpj" class="img-fluid daun4" alt="Daun kanan">
      </div>
    </div>
  </div>
</section>
<% end %>
