<p id="notice"><%= notice %></p>

<h1>Kehadirans</h1>

<table>
  <thead>
    <tr>
      <th>Undangan</th>
      <th>Hadir</th>
      <th>Jumlah tamu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kehadirans.each do |kehadiran| %>
      <tr>
        <td><%= kehadiran.undangan_id %></td>
        <td><%= kehadiran.hadir %></td>
        <td><%= kehadiran.jumlah_tamu %></td>
        <td><%= link_to 'Show', kehadiran %></td>
        <td><%= link_to 'Edit', edit_kehadiran_path(kehadiran) %></td>
        <td><%= link_to 'Destroy', kehadiran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kehadiran', new_kehadiran_path %>
