<p id="notice"><%= notice %></p>

<h1>Undangans</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Jam mulai</th>
      <th>Jam selesai</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @undangans.each do |undangan| %>
      <tr>
        <td><%= undangan.name %></td>
        <td><%= undangan.jam_mulai %></td>
        <td><%= undangan.jam_selesai %></td>
        <td><%= link_to 'Show', undangan %></td>
        <td><%= link_to 'Edit', edit_undangan_path(undangan) %></td>
        <td><%= link_to 'Destroy', undangan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Undangan', new_undangan_path %>
